{% extends 'base.html' %}
{% load static %} 

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
                <h2 class="logo-font mb-4">Shopping Basket</h2>
            <hr>
        </div>
    </div>
    <!-- -------------------------Table of shopping basket items-->
    <div class="row">
        <div class="col">
        {% if bag_items %}
        <div class="table-responsive rounded">
        <table class="table table-sm table-borderless">
            <thead>
                <tr>
                <th scope="col"> </th>
                <th scope="col"> </th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>                
                <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in bag_items %}
                <tr>
                    <td class="p-1 w-25">
                        <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}"
                        width="100"height="100"/>
                    </td>
                    <td class="py-1">
                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                    </td>
                    <td class="py-1">
                        <p class="my-0">£ {{ item.product.price}}</p>
                    </td>
                    <td class="py-1 w-25">
                        <!-- ------------------Quantity amend/ delete form -->
                        <form class="form update-form" action="{% url 'amend_quantity' item.item_id %}" method="POST">
                          {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-sm rounded-0"
                                         data-item_id="{{ item.item_id }}"id="decrement-qty_{{ item.item_id }}">
                                            <span>
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control my-input form-control-sm " type="number" name="quantity"
                                     value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}"
                                     id="id_qty_{{ item.item_id }}"/>
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-sm rounded-0"
                                         data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                            <span>
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- -------------------------Amend / delete links -->
                         <a class="text-info" id="amend-link"><small>Amend</small></a>
                         <a class="delete-link text-danger" id="delete_{{ item.item_id}}"><small>Delete</small></a>
                    </td>
                    <!-- -------------------------line total -->
                    <td class="py-1">
                        <p class="my-0">£ {{ item.item_total|floatformat:2 }}</p>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <!-- -------------------------Grand total of basket -->
                    <td colspan="3" class="pt-5 text-right">
                        <hr >
                        <h6><strong>Basket Total: £{{ total|floatformat:2 }}</strong></h6>
                        <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                        <hr>
                        <h5 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h5>
                    </td>
                </tr>
                <tr>
                    <!-- -------------------------buttons to go to page or checkout-->
                    <td colspan="3" class="pt-5 text-right">
                        <a href="{% url 'products' %}" class="btn bag-btn rounded-1 btn-lg border">
                            <span class="icon">
                                <i class="fa-solid fa-cake-candles"></i>
                            </span>
                            <span>Keep Shopping</span>
                        </a>
                        <a href="{% url 'checkout' %}" class="btn bag-btn rounded-1 btn-lg border">
                            <span>Secure Checkout</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
    <!-- -------------------------If no items are in basket-->
      {% else %}      
      <p class="lead mb-5">Your basket is empty.</p>
        <a href="{% url 'products' %}"class="btn bag-btn rounded-0 btn-lg">
            <span class="icon">
                <i class="fa-solid fa-cake-candles"></i>
            </span>
            <span> Keep Shopping</span>
        </a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block postloadjs %} 
{{ block.super }} 
{% include 'products/includes/quantity_script.html' %} 

<script type="text/javascript">
    // Amend quantity when clicked
        $('#amend-link').click(function (e) {
            var form = $(this).prev('.update-form');            
            form.submit();
        });

        // Delete item and reload the page when clicked
        $('.delete-link').click(function (e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('delete_')[1];
            var url = `/bag/delete/${itemId}`;
            var data = { 'csrfmiddlewaretoken': csrfToken };

            $.post(url, data, function () {
                location.reload();
            });
        });
</script>

{% endblock %}
