{% extends 'base.html' %} 
{% load static %} 

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} 

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr />
                <h2 class="logo-font mb-4">About</h2>
            <hr />
        </div>
    </div>
    <div class="row about-container pb-3 mb-5">
        <div class="col-12 welcome-text mx-auto">
            <div class="text-center ">
                <h1 class="mx-auto pt-5">Welcome to <span class="brand-name">Lush Bakes</span></h1>
                <p class="p-3 mb-0">Hello, I'm Lisa, a passionate and self-taught baker based in Parson Drove, a small village in the Cambridgehire
                    area. From the cozy corners of my kitchen, I craft delectable creations that add a sprinkle of sweetness to life's
                    celebrations.</p>
                <p class="p-3">As the founder of Lush Bakes, I specialize in handcrafting bespoke birthday cakes, celebration cakes, cupcakes, and
                    delightful cookie cakes. Each creation is infused with love, creativity, and a pinch of magic, aiming to make your
                    special moments even more memorable.</p>
                <p class="p-3">If you're looking to elevate your occasion with a sweet touch, or if you have any inquiries, I will be delighted to assist
                you!</p>               
                <p> Feel free to reach out through the following channels:</p>
                    <p><i class="fa-regular fa-envelope fa-lg"></i>  : lushbakes@gmail.com</p>
                    <p><i class="fa-solid fa-square-phone fa-lg"></i>   : 07922 222333</p>
                    <p><i class="fa-solid fa-location-dot fa-lg"></i>   : Parson Drove. PE13 4LB</p>  
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}