{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mob-top align-self-center">
                <h1 class="display-4">Welcome to Lush Bakes by Lisa</h1>
                <!-- Add your text here -->
            </div>
            <div class="col-md-6 mob-top text-center px-5">
                <img src="{% static 'images/collage.jpg' %}" class="rounded-image img-fluid" alt="Lush Bakes Image">
            </div>
        </div>
    </div>

   


{% endblock %}

