<script type="text/javascript">

    // Function to enable/disable increment and decrement buttons based on quantity
    function handleEnableDisable(itemId) {
        var currentValue = parseInt($(`#id_qty_${itemId}`).val());
        $(`#decrement-qty_${itemId}`).prop('disabled', currentValue < 2);
        $(`#increment-qty_${itemId}`).prop('disabled', currentValue > 98);
    }

    // Function to update quantity and handle enabling/disabling of buttons
    function updateQuantity(itemId, delta) {
        var closestInput = $(`#id_qty_${itemId}`);
        var currentValue = parseInt(closestInput.val()) + delta;

        closestInput.val(Math.min(99, Math.max(1, currentValue)));
        handleEnableDisable(itemId);
    }

    // Event listener for quantity input changes
    $('.qty_input').change(function () {
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    // Event listener for incrementing quantity
    $('.increment-qty').click(function (e) {
        e.preventDefault();
        var itemId = $(this).data('item_id');
        updateQuantity(itemId, 1);
    });

    // Event listener for decrementing quantity
    $('.decrement-qty').click(function (e) {
        e.preventDefault();
        var itemId = $(this).data('item_id');
        updateQuantity(itemId, -1);
    });
    
</script>
   

    