html {
    height: 100%;
}

body {
    background: rgb(233, 245, 233);
    background: linear-gradient(90deg,
            rgba(233, 245, 233, 1) 50%,
            rgba(199, 231, 199, 1) 72%,
            rgba(179, 238, 179, 1) 93%);
    height: calc(100vh - 164px);
    font-family: "Prata", serif;
}

.logo-font {
    font-family: "Prata", serif;
    color: #26683f;
}

#logo {
    font-family: "Dancing Script", cursive;
    color: #26683f;
    font-size: large;
}

.main-logo-link {
    width: fit-content;
}

.card .card-img-top {
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
}

/* fixed top navbar only on medium and up  */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 767px) {
    .main-logo-link h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}