{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Bakes</h2>
                <hr>
            </div>
        </div>  
      
        <div>
            <ul class="navbar-nav w-auto">
                <li class="nav-item dropdown ">                   
                    <a class="logo-font btn btn-light dropdown-toggle font-weight-bold nav-link text-dark" href="#" id="all-products-link"
                        data-toggle="dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>               
                    <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                        <a href="{% url 'products' %}?category=cupcakes" class="dropdown-item">Cupcakes</a>
                        <a href="{% url 'products' %}?category=birthday_cake" class="dropdown-item ">Birthday Cakes</a>
                        <a href="{% url 'products' %}?category=anniversay_cake" class="dropdown-item ">Anniversary Cakes</a>
                        <a href="{% url 'products' %}?category=cookie_cake" class="dropdown-item ">Cookie Cakes</a>
                        <a href="{% url 'products' %}" class="dropdown-item">All Bakes</a>
                    </div>
                </li>
            </ul>
        </div>  
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-1 p-2 {% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if not current_sorting %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == ' price_desc' %}selected{% endif %}>Price (high to low)</option>                                
                               
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">                            
                            {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>

    
        <div class="product-container">
            <div class="row mt-1 mb-2 mt-3"></div> 
                <div class="row">
                    {% for product in products %}
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2 ">
                            <div class="card h-100 border-1">
                                <a href="{% url 'product_description' product.id %}">
                                    <img  class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ product.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">£ {{ product.price }}</p>                                            
                                            {% if request.user.is_superuser %}
                                            <small class="ml-3">
                                                <a href="{% url 'edit_product' product.id %}">Edit</a> |
                                                <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                            </small>
                                            {% endif %}
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal === "price_asc") {
            currentUrl.searchParams.set("sort", "price");
            currentUrl.searchParams.set("direction", "asc");
        } else if (selectedVal === "price_desc") {
            currentUrl.searchParams.set("sort", "price");
            currentUrl.searchParams.set("direction", "desc");
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");
        }

        window.location.replace(currentUrl);
    });
</script>
{% endblock %}